*{
    text-align: center;
}
header{
    width: 100%;
}
nav{
    width: 100%;
}
footer{
    width: 100%;
    clear: both;
}
tbody{
    display: inline;
}
caption{
    font-style: bold;
}
tr.p11{
    width: 33%;
    float: left;
}
tr.p12{
    width: 33%;
    float: left;
}
tr.p13{
    width: 33%;
    float: left;
}

tr.p21{
    width: 33%;
    float: left;
}
tr.p22{
    width: 33%;
    float: left;
}
tr.p23{
    width: 33%;
    float: left;
}

tr.p31{
    width: 33%;
    float: left;
}
tr.p32{
    width: 33%;
    float: left;
}
tr.p33{
    width: 33%;
    float: left;
}

tr.p41{
    width: 33%;
    float: left;
}
tr.p42{
    width: 33%;
    float: left;
}
tr.p43{
    width: 33%;
    float: left;
}

tr.p51{
    width: 33%;
    float: left;
}
tr.p52{
    width: 33%;
    float: left;
}
tr.p53{
    width: 33%;
    float: left;
}

tr.p61{
    width: 33%;
    float: left;
}
tr.p62{
    width: 33%;
    float: left;
}
tr.p63{
    width: 33%;
    float: left;
}