img.madrid{
    float: left;
    width: auto;
}
main{
    width: 80%;
}
nav.nav2{
    float: left;
    width: auto;
}
a#enquesta{
    margin-left: 11em;
    float: left;
}
aside{
    width: 85%;
    float: left;
}
